  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">My Flask App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li>
          <a class="nav-link" href="/about">About</a>
      </li>
      <li>
          <a class="nav-link" href="/articles">Articles</a>
       </li>
    </ul>
      <ul class="navbar-nav navbar-right">
          {% if session.logged_in  %}
              <li class="nav-item">
                  <a class="nav-link" href="/dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
              </li>
          {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="/register">Register</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
              </li>
          {% endif %}
    </ul>
  </div>
</nav>